/* Dean Hou z5163159 assignment 2 COMP@041*/
/* modal/ popup formatting*/
/* credits to https://www.w3schools.com/howto/howto_css_modals.asp
for showing the basic layouts of css for modal*/ 

/* modal form*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4); /* black w/ opacity */
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll */
    left: 0;
    top: 0;
    padding-top: 60px;
}

.container {
    padding: 16px;
  }

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%;
  }

/* close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

/* cancel button */
.cancelbtn {
    background-color: #0079D3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* custom input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

span.psw {
    float: right;
    padding-top: 16px;
}